<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
        	<!-- this special pattern allows to do the tracing (code coverage) without actually polluting the log -->
            <pattern>%nopex</pattern>
        </encoder>
    </appender>

    <logger name="de.calamanari.tcanv" level="TRACE"/>


    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>